<div class="g-col-4 card rounded-3 shadow-sm">
  <div class="card-header py-3">
    <h4 class="my-0 fw-normal"><%= t('dashboards.stars_count.title') %></h4>
  </div>
  <div class="card-body">
    <table class="data-table table table-striped table-sm">
      <thead>
        <tr>
          <th><%= t('dashboards.common.category') %></th>
          <th><%= t('dashboards.common.count') %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= t('dashboards.stars_count.categories.o') %></td>
          <td><%= @stars_counter_by_category.count("O") %></td>
        </tr>
        <tr>
          <td><%= t('dashboards.stars_count.categories.b') %></td>
          <td><%= @stars_counter_by_category.count("B") %></td>
        </tr>
        <tr>
          <td><%= t('dashboards.stars_count.categories.a') %></td>
          <td><%= @stars_counter_by_category.count("A") %></td>
        </tr>
        <tr>
          <td><%= t('dashboards.stars_count.categories.f') %></td>
          <td><%= @stars_counter_by_category.count("F") %></td>
        </tr>
        <tr>
          <td><%= t('dashboards.stars_count.categories.g') %></td>
          <td><%= @stars_counter_by_category.count("G") %></td>
        </tr>
        <tr>
          <td><%= t('dashboards.stars_count.categories.k') %></td>
          <td><%= @stars_counter_by_category.count("K") %></td>
        </tr>
        <tr>
          <td><%= t('dashboards.stars_count.categories.m') %></td>
          <td><%= @stars_counter_by_category.count("M") %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

